<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="manifest" href="manifest.json"/>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    const publicVapidKey = 'BMEBxPI85QUcEtxr-xrH2qs1Fzl6ed2h7rQKXLuXsT2cR1fcb7EuI57B69J4DxtmP3PDhaVLnP5nK-Dpa0jx_Wo';
    if ('serviceWorker' in navigator && 'PushManager' in window) {
        send().catch(err=>console.error(err));
    }
    async function send(){
        console.log("보냄");
        const register = await navigator.serviceWorker.register('/worker.js',{
            scope:'/'
        })
        console.log("실행됨");
        navigator.serviceWorker.ready.then(function(reg) {
            reg.pushManager.getSubscription().then(function(subscription) {
                console.log(subscription.endpoint);
            })
        });
        console.log(Notification.permission);
        const subscription = await register.pushManager.subscribe({
            userVisibleOnly:true,
            applicationServerKey:publicVapidKey
        });
        console.log("push");
        console.log(subscription);
        await fetch('/subscribe',{
            method:'POST',
            body:JSON.stringify(subscription),
            headers:{
                'content-type':'application/json'
            }
        });
        console.log('Push');
        $(function(){
            $('.change_greeting').text(subscription.endpoint);
        });

    }

    function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
            .replace(/-/g, '+')
            .replace(/_/g, '/');

        const rawData = window.atob(base64);
        const outputArray = new Uint8Array(rawData.length);

        for (let i = 0; i < rawData.length; ++i) {
            outputArray[i] = rawData.charCodeAt(i);
        }
        return outputArray;
    }

</script>
<span id='cha'></span>
<p class="change_greeting">hello</p>
</body>
</html>