<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="manifest" href="manifest.json"/>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-messaging.js"></script>
<script>
    // Initialize Firebase
    let subscription;
    const config = {
        apiKey: "AIzaSyClNFoKocaycrGI42gTaBcYINw0d55t--4",
        authDomain: "fcm-node-test-a9b79.firebaseapp.com",
        databaseURL: "https://fcm-node-test-a9b79.firebaseio.com",
        projectId: "fcm-node-test-a9b79",
        storageBucket: "fcm-node-test-a9b79.appspot.com",
        messagingSenderId: "1015332584005",
        appId: "1:1015332584005:web:ca3292d06cd4b5bcf9012c",
        measurementId: "G-3EJ6VQC9J1"
    };
    firebase.initializeApp(config);

    const messaging = firebase.messaging();

    let token;
    //token 값 알아내기
    messaging.requestPermission()
        .then(function () {
            return messaging.getToken();
        })
        .then(function (r_token) {
            token = r_token
        })
        .catch(function (arr) {
            console.log("Error Occured");
            console.log(arr);
        });
    messaging.onMessage((payload) => {
        console.log('Message received. ', payload);

    });

    async function button1_click() {
        console.log("deleteToken");
        await messaging.getToken().then((currentToken) => {
            console.log(currentToken);
            return messaging.deleteToken(currentToken);
        })
            .then((bool) => {
                return messaging.getToken();
            })
            .then((_token) => {
                let email = document.getElementById('textarea').value;
                console.log("token : " + _token);
                console.log("email : " + email);
                subscription = {
                    token: _token,
                    email: email,
                    serverNum: 1
                }
                fetch('/fcm_sub', {
                    method: 'POST',
                    body: JSON.stringify(subscription),
                    headers: {
                        'content-type': 'application/json'
                    }
                });
            }).catch((error) => {
                console.log(error);
            });
    }

    function fcm_find() {
        let email = document.getElementById('textarea2').value;
        subscription = {
            email: email
        }
        $.ajax({
            url: "/fcm_find",
            type: "POST",
            cache: false,
            dataType: "json",
            data: subscription,
            success: function (data) {
                console.log(data.result);
                console.log("length : " + data.result.length);
            },
            error: function (request, status, error) {
            }
        });
    }

    async function fcm_setting() {
        console.log("deleteToken");
        await messaging.getToken().then((currentToken) => {
            console.log(currentToken);
            return messaging.deleteToken(currentToken);
        })
            .then((bool) => {
                console.log("bool : " + bool);
                return messaging.getToken();
            })
            .then((_token) => {
                console.log(_token);
            })
            .catch((error) => {
                console.log(error);
            });
    }

</script>
<!--<script>-->
<!--    const publicVapidKey = 'BMEBxPI85QUcEtxr-xrH2qs1Fzl6ed2h7rQKXLuXsT2cR1fcb7EuI57B69J4DxtmP3PDhaVLnP5nK-Dpa0jx_Wo';-->
<!--    if ('serviceWorker' in navigator && 'PushManager' in window) {-->
<!--        send().catch(err=>console.error(err));-->
<!--    }-->
<!--    async function send(){-->
<!--        const register = await navigator.serviceWorker.register('/worker.js',{-->
<!--            scope:'/'-->
<!--        })-->
<!--        console.log("실행됨");-->
<!--        console.log(Notification.permission);-->
<!--        const subscription = await register.pushManager.subscribe({-->
<!--            userVisibleOnly:true,-->
<!--            applicationServerKey:publicVapidKey-->
<!--        });-->
<!--        navigator.serviceWorker.ready.then(function(reg) {-->
<!--            reg.pushManager.getSubscription().then(function(subscription) {-->
<!--                console.log(subscription);-->
<!--            })-->
<!--        });-->
<!--        console.log('Push');-->
<!--        $(function(){-->
<!--            $('.change_greeting').text(subscription.endpoint);-->
<!--        });-->
<!--        caches.keys().then(function(keyList) {-->
<!--            console.log(keyList);-->
<!--        });-->

<!--    }-->

<!--    function urlBase64ToUint8Array(base64String) {-->
<!--        const padding = '='.repeat((4 - base64String.length % 4) % 4);-->
<!--        const base64 = (base64String + padding)-->
<!--            .replace(/-/g, '+')-->
<!--            .replace(/_/g, '/');-->

<!--        const rawData = window.atob(base64);-->
<!--        const outputArray = new Uint8Array(rawData.length);-->

<!--        for (let i = 0; i < rawData.length; ++i) {-->
<!--            outputArray[i] = rawData.charCodeAt(i);-->
<!--        }-->
<!--        return outputArray;-->
<!--    }-->

<!--</script>-->

<form>
    <p>입력할 email을 입력하세요 <textarea id="textarea" cols="30" rows="1"></textarea>
        <button type="button" id="click" onclick="button1_click();">확인</button></p>
</form>


<form>
    <p>찾을 email을 입력하세요 <textarea id="textarea2" cols="30" rows="1"></textarea>
        <button type="button" id="click" onclick="fcm_find();">확인</button>
    </p>
</form>
<span id='_token'></span>


</body>
</html>